<%- include('layout', { title: 'Products', admin: admin, body: '' }) %>
<section class="dashboard-container">
    <div class="dashboard-header">
        <h1>Welcome, <%= admin.email %>!</h1>
        <p>This is your inventory management dashboard.</p>
    </div>
    
    
</section>